<div class="atp-cell atpr-title">
  <span class="atpc-label">{{row.title}}</span>
</div>
<div class="atp-cell atpr-timetable" ng-if="!options.disableTimetable">
  <span class="atpc-label">
    {{row.timetable.start ? row.timetable.start.join(':') + " - " + row.timetable.end.join(':') : 'N/A'}}
  </span>
</div>
<div class="atp-cell atpr-critical-items"
     ng-click="showCriticalItems(row.criticalItems)"
     ng-class="{'active': row.criticalItems.length > 0}"></div>
<div class="atp-cell atpr-counter" ng-if="!options.disableCounter">
  <span class="atpc-label">{{row.hours || 0}}</span>
</div>
<div class="atp-cell atp-segment"
     ng-repeat="segment in row.segments"
     ng-class="{'week-day-segment': options.timeScope === 'week',
                'hour-segment': options.timeScope === 'day',
                'month-day-segment': options.timeScope === 'month',
                'unavailable-segment': segment.disabled}"
     time-planner-cell></div>
