time-planner-container {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow-x: auto;
  background-color: #f7f7f7; }
  time-planner-container .atp-container {
    display: inline-block; }
  time-planner-container .atp-head .atp-cell {
    background-color: #e8f2f6;
    border-bottom-width: 2px;
    text-align: center !important; }
    time-planner-container .atp-head .atp-cell.atp-segment:nth-child(odd) {
      background-color: #d6e8ef; }
  time-planner-container .atp-row {
    min-height: 3em;
    display: flex; }
    time-planner-container .atp-row:last-child .atp-cell {
      border-bottom: 2px solid #78909c; }
  time-planner-container .atp-segment:nth-child(odd) {
    background-color: #eaeaea; }
  time-planner-container .atp-cell {
    display: flex;
    min-height: 3em;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    background-color: #f7f7f7;
    border-bottom: 1px solid #78909c;
    align-items: stretch; }
    time-planner-container .atp-cell.atpr-counter, time-planner-container .atp-cell.atpr-title {
      padding: 0 1em; }
    time-planner-container .atp-cell.atpr-title {
      width: 160px;
      text-align: left; }
    time-planner-container .atp-cell.atpr-counter {
      width: 85px;
      border-left: none; }
    time-planner-container .atp-cell.week-day-segment {
      width: 100px; }
    time-planner-container .atp-cell.hour-segment {
      width: 40px; }
  time-planner-container .atpc-label {
    align-self: center;
    width: 100%; }
  time-planner-container .atp-segment-item {
    position: relative;
    line-height: .5em;
    height: .5em;
    width: 100%; }
    time-planner-container .atp-segment-item.highlighted::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.3); }
  time-planner-container .atp-segment-item-wrapper {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    width: 100%; }
  time-planner-container .on-drag-hover .atp-cell {
    background-color: #999 !important; }
