<div class="atp-container">
  <div class="atp-head">
    <div class="atp-row">
      <div class="atp-cell atpr-title">{{locale.labels.rowTitle}}</div>
      <div class="atp-cell atpr-counter" ng-if="options.needCounter">{{locale.labels.counterTitle.hours}}</div>
      <div class="atp-cell week-day atp-segment" ng-repeat="segment in segments">{{segment}}</div>
    </div>
  </div>
  <div class="atp-row"
       ng-repeat="row in rows"
       drop-channel="{{options.editable && row.editable && options.dropChannel}}"
       ui-on-drop="onDropEvent($data, row.id)"
       time-planner-row></div>
</div>
