<div class="atp-container">
  <div class="atp-head">
    <div class="atp-row">
      <div class="atp-cell atpr-title">
        <span class="atpc-label">{{locale.labels.rowTitle}}</span>
      </div>
      <div class="atp-cell atpr-timetable" ng-if="!options.disableTimetable">
        <span class="atpc-label">{{locale.labels.timetableTitle}}</span>
      </div>
      <div class="atp-cell atpr-counter" ng-if="!options.disableCounter">
        <span class="atpc-label">{{locale.labels.counterTitle.hours}}</span>
      </div>
      <div class="atp-cell atpr-critical-items"></div>
      <div class="atp-cell atp-segment"
           ng-repeat="segment in segments"
           ng-class="{'week-day-segment': options.timeScope === 'week',
                      'month-day-segment': options.timeScope === 'month',
                      'hour-segment': options.timeScope === 'day'}">
        <span class="atpc-label">{{segment.name}}</span>
      </div>
    </div>
  </div>
  <div class="atp-items-wrapper">
    <div class="atp-row"
         ng-repeat="row in rows"
         drop-channel="{{options.editable && row.editable && options.dropChannel}}"
         ui-on-drop="onDropEvent($data, row.id)"
         time-planner-row></div>
    <current-time-marker class="atp-current-time-marker" ng-if="!options.disableCurrentTimeMarker"/>
  </div>
</div>
